* {
    font-family: Ariel;
}

h1 {
    text-align: center;
}



.image1 {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
  
    
}

.image2 { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vis1-detail {
    padding: 1%;
}

.vis2-detail {
    padding: 1%;
}

.vis3-detail {
    padding: 1%;
}

